<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='stylesheets/sudoku.css'></link>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <title> React Sudoku </title>
  <body>
    <div id="content"></div>
    <script type='text/javascript' src='javascripts/bundle.js'></script>
  </body>
</html>
